div.container {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
div.content {
    border: 1px solid blue;
}
div.first-column {
    border: 1px solid green;
}
div.second-colum {
    border: 1px solid greenyellow;
}

/* <div class="container" >
<div class="content first-content" >
    <div class="first-column" >
        <h2 class="title" >Welcome back!</h2>
        <p class="description">To keep connected with us</p>
        <p class="description">please login with your personal info</p>
        <button class="btn">Sign in</button>
    </div>
    <div class="second-column"></div>
</div>
<div class="content second-content"></div>
</div> */